<footer id="footer" class="footer-main">
  <div class="footer-main__content container">
    <div class="footer-main__content--top">
      <div class="footer-main__wrapper-info">
        <a href="/" class="footer-main__link-logo link-logo">
          <img
            src="./assets/images/raster/logo.png"
            width="42"
            height="46"
            alt="Логотип компании 'Элимак'"
            loading="eager"
          />
          <span aria-hidden="true">Элимак</span>
        </a>
        <p>Принцип компании Architecture-Studio — коллективное мышление. С самого начала компания верила в ценность
          обмена
          идеями, пересечения идей, совместных усилий, общих знаний и энтузиазма</p>
      </div>
      <div class="footer-main__wrapper-contacts">
        <h2 class="footer-main__title-main">Свяжитесь с нами</h2>
        <a href="tel:+7499499499" class="footer-main__link link">+7(499) 499-499-499</a>
        <a href="mailto:elimak@info.ru" class="footer-main__link link">elimak&#64;info.ru</a>
        <address class="footer-main__address">Москва, Тверская улица 12</address>
      </div>

    </div>
    <div class="footer-main__content--bottom">
      <small class="footer-main__copyright">Москва (C) 2025 all rights reserved</small>
      <ul
        class="footer-main__list-social"
      >
        <li class="footer-main__item-social">
          <a
            class="footer-main__link-social link-social link-social--vk interactive"
            aria-label="VKontakte"
            href="#"
          ></a>
        </li>
        <li class="footer-main__item-social">
          <a
            class="footer-main__link-social link-social link-social--telegram interactive"
            aria-label="Telegram"
            target="_blank"
            href="https://t.me/elimak_master"
          ></a>
        </li>
        <li class="footer-main__item-social">
          <a
            class="footer-main__link-social link-social--max interactive"
            aria-label="Max"
            target="_blank"
            href="https://max.ru/"
          ></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
