<footer class="footer-main">
  <div class="footer-main__content container">
    <div class="footer-main__content--top">
      <div class="footer-main__wrapper-info">
        <a href="/" class="footer-main__link-logo link-logo">
          <img
            src="./assets/images/raster/logo.png"
            width="42"
            height="46"
            alt="Логотип компании 'Элимак'"
            loading="eager"
          />
          <span aria-hidden="true">Элимак</span>
        </a>
        <p>Принцип компании Architecture-Studio — коллективное мышление. С самого начала компания верила в ценность
          обмена
          идеями, пересечения идей, совместных усилий, общих знаний и энтузиазма</p>
      </div>
      <div class="footer-main__wrapper-contacts">
        <h2 class="footer-main__title-main">Свяжитесь с нами</h2>
        <a href="tel:+7499499499" class="footer-main__link link">+7(499) 499-499-499</a>
        <a href="mailto:elimak@info.ru" class="footer-main__link link">elimak&#64;info.ru</a>
        <address class="footer-main__address">Москва, Тверская улица 12</address>
      </div>

    </div>
    <div class="footer-main__content--bottom"></div>
  </div>
</footer>
