@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/roboto-light.woff2") format('woff2'),
  url("../assets/fonts/roboto-light.woff") format('woff'),
  url("../assets/fonts/roboto-light.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/roboto-regular.woff2") format('woff2'),
  url("../assets/fonts/roboto-regular.woff") format('woff'),
  url("../assets/fonts/roboto-regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/roboto-bold.woff2") format('woff2'),
  url("../assets/fonts/roboto-bold.woff") format('woff'),
  url("../assets/fonts/roboto-bold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
