<section class="about">
  <div class="about__content container">
    <div class="about__wrapper-image">
      <svg>
        <defs>
          <mask id="coming_mask_0" x="0" y="0">
            <rect
              class="coming-alpha"
              x="0"
              y="0"
              width="100%"
              height="100%"
            ></rect>
            <text
              class="count number"
              x="50%"
              y="45%"
              text-anchor="middle"
              alignment-baseline="middle"
            >
              14
            </text>
            <text
              class="count title"
              x="50%"
              y="70%"
              text-anchor="middle"
              alignment-baseline="middle"
            >
              ЛЕТ ОПЫТА
            </text>
          </mask>
        </defs>
        <rect
          style="-webkit-mask: url(#coming_mask_0); mask: url(#coming_mask_0)"
          class="base"
          x="0"
          y="0"
          width="100%"
          height="100%"
        ></rect>
      </svg>
    </div>
    <div class="about__wrapper-info">
      <h2 class="about__title-info title-section">
        Вырвитесь из рутины, взглянув на мир с глобальной точки зрения.
      </h2>
      <div class="about__subtitle subtitle-section">О нас</div>
      <p class="about__text-info text">
        Основываясь на коллективной работе и обмене знаниями, Архитектурная
        студия стремится способствовать диалогу и дебатам, преобразовывать
        индивидуальные знания в более высокий творческий потенциал.
      </p>
      <p class="about__text-info text">
        Наша студия — архитектурное бюро, базирующееся в Праге, Чехии и Венеции.
        Сегодня в неё входят 150 архитекторов, градостроителей, ландшафтных
        дизайнеров и дизайнеров интерьеров 25 разных национальностей. Принцип
        работы Architecture-Studio — коллективное видение. С самого начала бюро
        верило в ценность обмена, пересечения идей, общих усилий и обмена
        знаниями.
      </p>
    </div>
  </div>
</section>
