@use '../../../styles/variables' as variables;

.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 24px 30px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 100;

  &__nav {
    transition:
      opacity 1s ease,
      transform 1s ease;

    @media (width <= 1370px) {
      position: absolute;
      width: 100%;
      height: min-content;
      bottom: -10px;
      left: 0;
    }

    @media (width <= 940px) {
      top: 100%;
      padding: 15px 0;
      background-color: variables.$header-nav-overlay;
      backdrop-filter: blur(5px);
      opacity: 0;
      transform: translateX(-100%);
    }

    &--open {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &__link {
    &-nav {
      text-transform: uppercase;
      display: inline-block;
      font-size: 16px;
      line-height: 18px;
    }
  }

  &__list {
    &-nav {
      display: flex;
      gap: 30px;

      @media (width <= 1370px) {
        justify-content: center;
      }

      @media (width <= 940px) {
        flex-direction: column;
        align-items: center;
      }
    }

    &-actions {
      @media (width <= 940px) {
        display: flex;
        gap: 30px;
      }
    }

    &-social {
      display: flex;
      gap: 30px;
      transition: transform 0.5s ease;

      @media (width <= 940px) {
        position: absolute;
        left: 50%;
        top: 50%;
        width: min-content;
        height: min-content;
        transform: translate(-50%, -50%) scale(0);
      }

      @media (width <= 760px) {
        left: 0;
        top: 400%;
        transform: translate(0) scale(0);
        flex-direction: column;
      }

      &--open {
        @media (width <= 940px) {
          transform: translate(-50%, -50%) scale(1);
        }

        @media (width <= 760px) {
          transform: translate(0) scale(1);
        }
      }
    }
  }

  &__item {
    &-action {
      @media (width <= 760px) {
        position: relative;
      }
    }
  }

  &__button {
    display: none;

    @media (width <= 940px) {
      display: block;
    }

    &--social {
      &::before {
        content: '\f127';
      }
    }

    &--burger {
      &::before {
        content: '\f0c9';
      }
    }
  }

  @media (width <= 760px) {
    padding: 24px 15px;
  }
}
