@use '../../../styles/variables' as variables;

.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 24px 30px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 100;

  &__link {
    &-logo {
      display: flex;
      align-items: center;
      gap: 10px;
      text-decoration: none;
      font-size: 30px;
      line-height: 32px;
      font-weight: 500;

      span {
        color: variables.$text-color-logo;
        text-transform: uppercase;
      }
    }

    &-nav {
      text-decoration: none;
      color: variables.$header-link;
      text-transform: uppercase;
      display: inline-block;
      font-size: 16px;
      line-height: 18px;
      font-weight: 300;
      letter-spacing: 2px;
      opacity: 0.7;
      transition: opacity 0.3s ease-in, color 0.3s ease;

      &:hover {
        opacity: 1;
      }

      &:active {
        color: variables.$header-link-active;
      }
    }

    &-social {
      &::before {
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: cover;
        background-color: variables.$link-social;
        transition: background-color 0.5s ease, transform 0.5s ease;
      }

      &--vk {
        &:hover {
          &::before {
            background-color: variables.$vk-hover-color;
          }
        }

        &::before {
          content: '';
          width: 28px;
          height: 25px;
          mask-image: url("../../../assets/images/vector/vk.svg");
        }
      }

      &--telegram {
        &:hover {
          &::before {
            background-color: variables.$telegram-hover-color;
          }
        }

        &::before {
          content: '';
          width: 21px;
          height: 24px;
          mask-image: url("../../../assets/images/vector/telegram.svg");
        }
      }

      &--max {
        &::before {
          content: '';
          background-color: transparent;
          width: 24px;
          height: 24px;
          background-image: url("../../../assets/images/vector/max.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }

        &:hover {
          &::before {
            background-image: url("../../../assets/images/vector/max-hover.svg");
          }
        }
      }

    }
  }

  &__list {
    &-nav {
      display: flex;
      gap: 30px;
    }

    &-actions {
      @media (width <= 768px) {
        display: flex;
        gap: 30px;
      }
    }

    &-social {
      display: flex;
      gap: 30px;
    }
  }

  &__button {
    &--social {
      display: none;

      &::before {
        content: "\f127";
      }
    }

    &--burger {
      display: none;

      &::before {
        content: "\f0c9";
      }
    }
  }
}

