@use './styles/variables' as variables;
@use './styles/fonts';

*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: variables.$font-family-primary;
  font-style: normal;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.interactive {
  background-color: transparent;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  border: 1px solid variables.$button-border-color;
  padding: 0;
  width: 34px;
  height: 34px;
  cursor: pointer;
  transition: background-color 0.5s ease, transform 0.5s ease;

  &::before {
    font-family: FontAwesome, sans-serif;
    font-size: 14px;
    color: variables.$button-text-color;
    transition: color 0.5s ease;
  }

  &:hover {
    background-color: variables.$button-hover-bg;
    transform: scale(0.8);


    &::before {
      color: variables.$button-hover-text-color;
    }
  }

  &:active {
    background-color: variables.$button-active-bg;
  }
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
}


