@use './styles/variables' as variables;
@use './styles/fonts';

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: variables.$font-family-primary;
  font-style: normal;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.interactive {
  background-color: transparent;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  border: 1px solid variables.$button-border-color;
  padding: 0;
  width: 34px;
  height: 34px;
  cursor: pointer;
  transition: background-color 0.5s ease,
  transform 0.5s ease;

  &::before {
    font-family: FontAwesome, sans-serif;
    font-size: 14px;
    color: variables.$button-text-color;
    transition: color 0.5s ease;
  }

  &:hover {
    background-color: variables.$button-hover-bg;
    transform: scale(0.8);

    &::before {
      color: variables.$button-hover-text-color;
    }
  }

  &:active {
    background-color: variables.$button-active-bg;
  }
}

.coming-alpha {
  fill: variables.$color-white;
  width: 100%;
  height: 100%;
}

.number {
  font-size: 160px;
  font-weight: 700;
}

.title {
  font-size: 14px;
  letter-spacing: 3.5px;
  font-weight: 300;

  &-section {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 0.9px;
    font-weight: 700;
    color: variables.$title-color-dark;

    @media (width <= 991px) {
      font-size: 30px;
      line-height: 34px;
    }
  }

  &-card {
    color: variables.$title-color-dark;
    font-weight: 700;
    font-size: 33px;
    line-height: 32px;
  }
}

.subtitle {
  &-section {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 4.5px;
    font-weight: 300;
    text-transform: uppercase;
  }
}

.text {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: variables.$text-color-primary;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

.base {
  fill: variables.$color-white;
  width: 100%;
  height: 100%;
}

.link {
  &-card {
    display: flex;
    gap: 3px;
    align-items: center;
    font-size: 11px;
    line-height: 30px;
    letter-spacing: 2px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 50px;
    color: variables.$link-dark;

    &::after {
      content: '';
      display: block;
      width: 30px;
      height: 9px;
      background-color: black;
      mask-image: url("./assets/images/vector/arrow.svg");
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: cover;
      transition: transform 0.5s ease;
    }

    &:hover {
      &::after {
        transform: translateX(5px);
      }
    }

  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
}
