<section id="projects" class="projects">
  <div class="projects__content container">
    <div class="projects__wrapper-title">
      <h2 class="projects__title-main title-section">Сделаны с любовью</h2>
      <p class="projects__subtitle subtitle-section">Последние проекты</p>
    </div>
    <ul class="projects__list-last-projects">
      <li class="projects__item-project">
        <article class="projects__card-project">
          <div class="projects__wrapper-image">
            <img src="./assets/images/raster/projects-project-1.jpg" width="2040" height="1143"
                 alt="Проект - 'Гармония Лайт'">
          </div>
          <div class="projects__wrapper-info">
            <h3 class="projects__title-card title-card">Гармония лайт</h3>
            <p class="projects__text-info text">Это современный дом, где стиль встречается с природой. Архитектура
              здания подчеркивает простор и свет
              благодаря панорамным окнам, которые создают ощущение единства с окружающим ландшафтом. Сочетание
              минималистичного дизайна, натуральных материалов и функциональных решений делает этот дом идеальным для
              тех, кто ценит комфорт и эстетику. На первом этаже вас встретят светлые помещения с выходом на ухоженную
              террасу и сад, а второй этаж с просторной террасой подарит возможность наслаждаться видами в любое время
              года.</p>
            <a class="link-card" href="#">Подробнее</a>
          </div>
        </article>
      </li>

      <li class="projects__item-project">
        <article class="projects__card-project">
          <div class="projects__wrapper-image">
            <img src="./assets/images/raster/projects-project-2.jpg" width="2040" height="1143"
                 alt="Проект - 'ЭкоДом у озера'">
          </div>
          <div class="projects__wrapper-info">
            <h3 class="projects__title-card title-card">ЭкоДом у озера</h3>
            <p class="projects__text-info text">Это современное жильё, созданное для тех, кто ценит гармонию с природой
              и уют домашнего пространства. Из панорамных окон открывается завораживающий вид на зелёный парк и озеро,
              где утренний свет мягко заливает спальню, а вечерняя прохлада располагает к отдыху на балконе с чашкой
              чая.</p>
            <a class="link-card" href="#">Подробнее</a>
          </div>
        </article>
      </li>

      <li class="projects__item-project">
        <article class="projects__card-project">
          <div class="projects__wrapper-image">
            <img src="./assets/images/raster/projects-project-3.jpg" width="2040" height="1143"
                 alt="Проект - 'Ландшафтный дизайн'">
          </div>
          <div class="projects__wrapper-info">
            <h3 class="projects__title-card title-card">Ландшафтный дизайн</h3>
            <p class="projects__text-info text">Ландшафтный дизайн выполнен в естественном стиле с элементами
              деревенской эстетики. Использование натуральных материалов и растений создаёт гармонию с окружающей
              природой и делает участок уютным и привлекательным..</p>
            <a class="link-card" href="#">Подробнее</a>
          </div>
        </article>
      </li>

      <li class="projects__item-project">
        <article class="projects__card-project">
          <div class="projects__wrapper-image">
            <img src="./assets/images/raster/projects-project-4.jpg" width="2040" height="1143"
                 alt="Проект - 'Светлый Уголок'">
          </div>
          <div class="projects__wrapper-info">
            <h3 class="projects__title-card title-card">Проект "Светлый Уголок"</h3>
            <p class="projects__text-info text">Этот жилой дом в классическом стиле сочетает в себе элегантность и уют.
              Белый фасад, декорированный колоннами и деревянными окнами, создаёт атмосферу аристократической
              утончённости. Просторная терраса с кованой решёткой и аккуратный ландшафтный дизайн с зелёными
              насаждениями и цветочными клумбами подчёркивают гармонию с природой. Идеальное место для комфортной жизни
              и отдыха.</p>
            <a class="link-card" href="#">Подробнее</a>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
