@use '../../../styles/variables' as variables;

.projects {
  padding-bottom: 70px;

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__wrapper {
    &-title {
      display: flex;
      flex-direction: column;
    }

    &-image {
      max-width: 679px;
      width: 100%;
      flex-grow: 1;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      @media (width <= 879px) {
        max-width: 100%;
        height: 500px;
      }

      @media (width <= 768px) {
        height: 300px;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 422px;
      width: 100%;
      padding-top: 20px;

      @media (width <= 879px) {
        max-width: 100%;
      }
    }
  }

  &__item {
    &-project {
      &:not(:last-child) {
        margin-bottom: 60px;
      }

      &:nth-child(even) {
        .projects__wrapper-info {
          order: 0;
        }

        .projects__wrapper-image {
          order: 1
        }
      }

      @media (width <= 872px) {
        &:nth-child(even) {
          .projects__wrapper-info, .projects__wrapper-image {
            order: 0;
          }
        }
      }
    }
  }

  &__title {
    &-main {
      order: 1;
      margin-bottom: 60px;
    }

    &-card {
      margin-bottom: 25px;
    }
  }

  &__text {
    &-info {
      margin-bottom: 15px;
    }
  }

  &__subtitle {
    order: 0;
    margin-bottom: 15px;
  }

  &__card {
    &-project {
      display: flex;
      justify-content: space-between;

      @media (width <= 1176px) {
        gap: 30px;
      }

      @media (width <= 879px) {
        flex-direction: column;
      }
    }
  }
}
