<section class="hero">
  <div class="hero__content container">
    <h1 class="hero__title-main">
      Проектирование и строительство домов и резиденций премиум класса в Москве
    </h1>
    <div class="hero__subtitle">Москва, Россия</div>
    <p class="hero__description">Лучший клиентский сервис три года подряд</p>
    <p class="hero__description">18 лет проектируем и строим дома по всей России</p>
    <a class="hero__link-projects" href="#">Смотреть <span class="visually-hidden">проекты</span></a>
  </div>
</section>
