@use '../../../styles/variables' as variables;

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../../../assets/images/raster/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: variables.$overlay-bg;
  }
}
