@use '../../../styles/variables' as variables;

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../../../assets/images/raster/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 109px;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: variables.$overlay-bg;
    z-index: -1;
  }

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    &-main {
      color: variables.$title-color-light;
      font-size: 54px;
      line-height: 56px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 24px;
      order: 1;

      @media (width <= 1199px) {
        max-width: 970px;
        width: 100%;
      }

      @media (width <= 993px) {
        max-width: 750px;
        width: 100%;
        font-size: 34px;
        line-height: 38px;
      }

      @media (width <= 920px) {
        font-size: 30px;
      }
    }
  }

  &__subtitle {
    color: variables.$subtitle-color-light;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 4.5px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 24px;
    order: 0;
  }

  &__description {
    color: variables.$text-color-light;
    font-size: 16px;
    line-height: 32px;
    text-transform: uppercase;
    opacity: 0.7;
    text-align: center;
    order: 2;

    &:last-of-type {
      margin-bottom: 40px;
    }
  }

  &__link {
    &-projects {
      text-decoration: none;
      color: variables.$hero-link-color;
      border: 1px solid variables.$hero-link-border-color;
      font-size: 11px;
      line-height: 18px;
      letter-spacing: 2px;
      font-weight: 500;
      text-transform: uppercase;
      padding: 15px 46px;
      transition:
        background-color 0.5s ease,
        color 0.5s ease;
      border-radius: 5px;
      order: 3;

      &:hover {
        background-color: variables.$link-button-hover-bg;
        color: variables.$link-button-hover-text-color;
      }

      &:active {
        background-color: variables.$link-button-active-bg;
      }
    }
  }
}
